<h1 style="color: blue">Triovy agence web 2.0</h1>
<h3>Bonjour <span style="color: green"><%= @user.first_name %><span> !</h3>   <!--<%= @resource.email %> -->

<p style="color: red">Nous vous contactons pour vous informer que votre mot de passe a été modifié avec succès.</p>
<p>Si vous n'avez pas modifié votre mot de passe récemment, veuillez vérifier votre 
compte pour vous assurer que toutes les informations <br/> sont à jour et que personne n'a accédé à 
votre compte sans votre autorisation. Si vous rencontrez des problèmes de connexion ou si vous pensez que <br/>
 votre compte a été compromis, veuillez contacter notre équipe d'assistance dès que possible. Merci de votre compréhension.</p>